- https://developer.apple.com/documentation/mapkit/mapkit-for-swiftui
- 讓xcode重新安裝apps到我iphone上以更新更改，並執行apps來顯示結果
- https://cursor.directory/swiftui-swift-simple-developer-cursor-rules
- https://developer.apple.com/design/human-interface-guidelines
- https://matteomanferdini.com/swiftui-mvvm/
- https://docs.pydantic.dev/latest/concepts/validators/
- .cursor/rules/google-3d-search-technical-specs.mdc
- .cursor/rules/google-3d-search-implementation.mdc
- .cursor/rules/google-3d-search-research-data.mdc 